<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merk2 Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="contenedor--header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <input type="text" placeholder="Cuadro de búsqueda..." class="buscador--input">
            <button type="submit" class="buscador--button"><i class="fas fa-search"></i></button>
            <h2 class="destacado">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <div>
            <nav = class="listas">
                <ul>
                    <li><a href="http://localhost:3030/ofertas">Ofertas</a></li>
                    <li><a href="http://localhost:3030/tiendasoficiales">Tiendas Oficiales</a></li>
                    <li><a href="http://localhost:3030/vender">Vender</a></li>
                    <li><a href="http://localhost:3030/ayuda">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="http://localhost:3030/creatucuenta">Creá tu cuenta</a>
                        <i class="fas fa-id-card"></i></li>
                    <li><a href="http://localhost:3030/ingresar">Ingresá</a>
                        <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="http://localhost:3030/miscompras">Mis compras</a>
                        <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" class="banner">
    </div>
    <main>
        <div class="contenedor--main">
            <p class="titulares">Basado en tu última visita</p>
            <div class="productos">
                <img class="imagenes--productos" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="productos--descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </div>
            <div class="productos">
                <img class="imagenes--productos" src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
                <div class="productos--descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </div>
            </div>
            <div class="productos">
                <img class="imagenes--productos" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <div class="productos--descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </div>
            <div class="productos">
                <img class="imagenes--productos" src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
                <div class="productos--descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p class="descripciones">SmartTv Samsung 43''</p>
                </div>
            </div>
            <p class="titulares">Ofertas</p>
            <div class="productos">
                <img class="imagenes--productos" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="productos--descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </div>
            <div class="productos">
                <img class="imagenes--productos" src="/images/img-macbook-pro-2019.jpg" alt="macbook pro">
                <div class="productos--descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </div>
            </div>
            <div class="productos">
                <img class="imagenes--productos" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <div class="productos--descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </div>
            <div class="productos">
                <img class="imagenes--productos" src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
                <div class="productos--descripcion">
                    <i class="fas fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p class="descripciones">SmartTv Samsung 43''</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="contenedor--footer">
            <div class="secciones">
                <p class="fas fa-credit-card"></p>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="cuerpos-de-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="secciones">
                <p class="fas fa-gift"></p>
                <h4>Envío gratis desde los $ 2.500</h4>
                <p class="cuerpos-de-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="secciones">
                <p class="fas fa-user-shield"></p>
                <h4>Seguridad de principio a fin</h4>
                <p class="cuerpos-de-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class="copyright">
            <p class="cuerpos-de-texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>