:root {
    --ColorAmarillo: #EAC926;
    --ColorAzul: #03264C;
    --ColorCeleste: #1259c3;
    --ColorAzulIntermedio: #0022AA;
    --ColorGrisOscuro: #666;
    --ColorGrisClaro: #ebebeb;
    --ColorVerde: #39b54a;
    --TamañoCuerposDeTexto: 12px;
    --TamañoTitulares: 24px;
    --TamañoPrecios: 18px;
    --TamañoDescuentos: 16px;
    --TamañoDescripciones: 16px;
    --FuenteDeTexto: roboto;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--FuenteDeTexto);
    background: var(--ColorGrisClaro);
    width: 100vw;
}