/* HEADER */

header {
    background-color: var(--ColorAmarillo);
    padding: 10px;
}

.contenedor--header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    width: 50%;
}

.header__section--buscador {
    width: 50%;
}

.header__section--buscador form {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.buscador--input {
    display: block;
    border: solid 1px var(--ColorGrisClaro);
    width: 100%;
    padding: 2px 18px 2px 2px;
    border-radius: 2px;
    height: 35px;
    font-size: 0.75rem;
}

.buscador--button {
    display: block;
    position: absolute;
    right: 10px;
    background-color: white;
    border: none;
    color: var(--ColorGrisOscuro);
}

.header__section--destacado {
    font-size: 15px;
    font-weight: normal;
    padding: 20px 0px 15px 0px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.header__section--listas {
    display: none;
}

.burger-menu {
    display: block;
    text-align: center;
    background-color: var(--ColorCeleste);
    color: white;
    max-width: 40px;
    max-height: 40px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}


/* MAIN */

main {
    background: var(--ColorGrisClaro);
}

.banner img{
    width: 100%;
}

.contenedor--main {
    width: 90%;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__section__p--titulares {
    font-size: var(--TamañoTitulares);
    color: var(--ColorGrisOscuro);
    font-weight: bold;
    width: 100%;
    padding-left: 1%;
    margin-left: 1%;
    padding-bottom: 10px;
}


.main__section--ultimaVisita {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.main__section--ofertas {
        display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.main__section__article--productos {
    width: 100%;
    margin: 5px;
    background-color: white;
}

.main__section__article--productos:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.productos--imagenes {
    width: 100%;
}

.productos--descripcion {
    display: flex;
    padding: 15px;
    border-top: solid 1px var(--ColorGrisClaro);
    flex-wrap: wrap;
    position: relative;
}

.main__section__article__div--precios {
    font-size: var(--TamañoPrecios);
}

.main__section__article__div--descuentos {
    font-size: var(--TamañoDescuentos);
    color: var(--ColorVerde);
    width: 70%;
    display: inline;
    padding: 2px 0px 0px 10px;
}

.main__section__article__div--descripciones {
    display: none;
}

.main__section__article--productos:hover .main__section__article__div--descripciones {
    font-size: var(--TamañoDescripciones);
    color: var(--ColorGrisOscuro);
    padding-top: 15px;
    width: 100%;
    display: block;
}

.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--ColorVerde);
    background-color: white;
    color: var(--ColorVerde);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.fa-truck:hover {
    transform: rotateZ(270deg);
    transition: 1s;
}

/* FOOTER */

.contenedor--footer {
    background-color: white;
    width: 100%;
    margin-top: 10px;
}

.footer__section__article--secciones {
    color: var(--ColorGrisOscuro);
    text-align: center;
    padding: 50px 0px 0px 0px;
    margin: 0px 50px 0px 50px;
}

.footer__section__article--secciones i {
    color: var(--ColorCeleste);
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.footer__section__article--secciones i:hover {
    color: var(--ColorAzulIntermedio);
}

.footer__section__article__secciones--texto {
    font-size: var(--TamañoCuerposDeTexto);
}

.copyright {
    font-size: var(--TamañoCuerposDeTexto);
    color: var(--ColorGrisOscuro);
    padding: 40px 0px 20px;
    text-align: center;
}





/* TABLET */

@media (min-width: 768px) {

    .contenedor--header {
        justify-content: space-between;
        padding-bottom: 1%;
    }

    .logo {
        width: 25%;
    }

    .header__section--buscador {
        width: 30%;
        padding: 0px;
    }


    .header__section--listas {
        display: flex;
    }

    .header__section--listas nav {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px 8px;
        width: 100%;
    }
    
    .header__section--listas nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }
    
    .header__section--listas nav a {
        text-decoration: none;
        padding: 10px;
        font-size: 15px;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .main__section__p--titulares {
        padding-bottom: 0px;
    }

    .main__section--ultimaVisita {
        gap: 10px 10px;
        justify-content: space-around;
    }

    .main__section--ofertas {
        gap: 10px 10px;
        justify-content: space-around;
    }

    .main__section__article--productos {
        width: 45%;
    }

    .contenedor--footer {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }

    .footer__section__article--secciones {
        color: var(--ColorGrisOscuro);
        text-align: center;
        padding: 25px 25px 0px;
        margin: 0px;
    }

}

/* DESKTOP */

@media (min-width: 1024px) {

    .main__section--ultimaVisita {
        gap: 10px 10px;
        justify-content: space-around;
        margin-top: 10px;
    }

    .main__section--ofertas {
        gap: 10px 10px;
        justify-content: space-around;
        margin-top: 10px;
    }

    .main__section__article--productos {
        width: 20%;
    }

    .contenedor--footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .copyright {
        padding: 0;
        margin: 15px;
    }

    .footer__section__article--secciones {
        width: 300px;
        height: 150px;
    }
}