.main__section--registerForm {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__section--registerForm h3 {
    margin: 20px 0;
    font-size: var(--TamañoDescripciones);
}

.dataInput {
    height: 30px;
    border: none;
    width: 300px;
    border-radius: 4px;
    padding-left: 7px;
}

.main__section__form--dataUser1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 35px;
}

.main__section__form--dataDateAddress {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.main__section__form--userProfile {
    display: flex;
    justify-content: space-around;
    font-size: var(--TamañoDescripciones);
}

.main__section__form--userInterest {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    gap: 25px;
}

.main__section__form--dataUser2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin: 20px 0;
}

.main__section__form--btns {
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}

.main__section__form--btns button {
    width: 120px;
    height: 35px;
    color: #fff;
    background-color: var(--ColorCeleste);
    border-radius: 4px;
    border: none;
}